# [ Java ]
# Java / Apache ANT output
bin/
dist/

# Javadoc output
docs/

# JUnit output
junit/

# Apache Ivy dependencies
lib/

# IntelliJ IDEA
.idea
out/

# [ UML ]
# Visual Paradigm backup files
UML/*.bak*
UML/*.vbak*
